body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #e4f2f7;
    line-height: 1.5rem;
}

main {
    margin-bottom: 7rem;
}

main,
header {
    width: 85%;
}

h1,
h2,
h3 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 4rem 0;
    background-color: #872238;
    color: #fff;
    border-bottom: 0.8rem solid #000;
    margin-bottom: 3rem;
}

h2 {
    font-size: 2rem;
    margin: 2rem 0;
    clear: both;
}

h3 {
    font-size: 1.8rem;
    color: #fff;
    padding-bottom: 2rem;
}

section {
    width: 45rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

blockquote {
    font-size: 1rem;
    width: 12rem;
    text-align: justify;
    border: 0.8rem solid #c0c3c4;
    padding: 1.5rem 1rem;
    background-color: #e2e3de;
    margin-bottom: 1rem;
    position: relative;
}

blockquote p:before {
    content: '“';
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 3.4rem;
}

.fiat {
    float: right;
    margin-left: 2rem;
}

.fiat:hover,
.fiat:focus {
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
    transition: .3s;
}

.petrobras {
    float: left;
    margin-right: 2rem;
}

.petrobras:hover,
.petrobras:focus {
    transform: scale(1.2) rotate(-5deg);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
    transition: .3s;
}

p {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 1.2rem;
}

section>p:first-letter {
    font-size: 2rem;
}

em,
cite {
    font-style: italic;
}

strong {
    font-weight: bold;
}

#foto-joao {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    border-left: .7rem solid #000;
    border-bottom: .7rem solid #000;
}

aside {
    background-color: #2b0d36;
    float: right;
    padding: 2rem 2rem;
    clear: right;
    position: absolute;
    top: 18.7rem;
    right: 0;
    border-top: .7rem solid #000;
    border-left: .7rem solid #000;
    border-bottom: .7rem solid #000;
}

nav li {
    text-align: center;
}

nav a {
    font-size: 1.4rem;
    color: #fff;
}

.social li {
    display: inline-block;
    margin-left: .5rem;
    margin-top: 1rem;
}

.social a {
    display: block;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    text-indent: -9999px;
}

.github {
    background: url('../img/github.png');
}

.twitter {
    background: url('../img/twitter.png');
}

.linkedin {
    background: url('../img/linkedin.png');
}

.main-footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 1.2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.habilidades {
    border-collapse: separate;
    border-spacing: .25rem;
    margin: 0 auto;
}

.habilidades th,
.habilidades td {
    border: 1px solid #999;
    padding: 1rem;
}

.habilidades th {
    font-weight: bold;
    color: #fff;
    background-color: #851944;
}

.habilidades thead th {
    background-color: #3C1D3D;
}

.habilidades td {
    background-color: #eee;
}

td[rowspan="3"] {
    text-align: center;
    vertical-align: middle;
    font-style: italic;
}