main {
    width: 940px;
    margin: auto;
    margin-bottom: 10rem;
}

form {
    width: 70%;
}

.campo input,
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: .5rem .5rem;
}

fieldset>fieldset {
    display: inline;
}

fieldset {
    position: relative;
}

input:focus,
textarea:focus {
    background-color: #ffd;
}

.com-icone {
    position: relative;
}

.com-icone:after {
    content: "";
    background-image: url('../img/usuario.png');
    background-size: 50% 50%;
    width: 2rem;
    height: 2rem;
    background-color: #8C1D3D;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 115%;
    left: 0;
    border: 1px solid #000;
}

.com-icone+input {
    width: calc(100% - 2rem);
    position: relative;
    left: 2rem;
}

label[for="email"]:after {
    background-image: url('../img/email.png');
}

input[value="outro"]~input {
    display: none;
}

input[value="outro"]:checked~input {
    display: inline;
}

legend {
    font-weight: bold;
    font-size: 1.3rem;
}

.radio {
    margin: 1rem 0;
}

#enviar {
    float: right;
    margin: 1rem 0;
    padding: .5rem;
    width: 25%;
    background-color: #2b0d36;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
}

#enviar:hover,
#enviar:focus {
    background-color: #8C1D3D;
}